/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/header/_extends.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* line 6, ../sass/components/header/_extends.scss */
header {
  padding: 1em;
  position: relative;
}

/* line 11, ../sass/components/header/_extends.scss */
.logo-link {
  width: 200px;
  display: inline-block;
}

/* line 16, ../sass/components/header/_extends.scss */
.logo {
  width: 75%;
}

/* line 20, ../sass/components/header/_extends.scss */
.login-btn {
  display: inline-block;
  padding: 0 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #6bae47;
  border-radius: 20px;
  text-transform: uppercase;
  position: absolute;
  right: 1em;
}

/* line 1, ../sass/components/main/_extends.scss */
.main {
  position: relative;
}

/* line 5, ../sass/components/main/_extends.scss */
.splash {
  background-image: url("../images/bg-image.jpg");
  background-position: right;
  height: 300px;
}

/* line 11, ../sass/components/main/_extends.scss */
.splash-title {
  font-family: 'Taviraj', serif;
  font-size: 1.5em;
  position: relative;
  left: 100px;
  padding: 2em 0 0 0;
  display: inline-block;
}

/* line 20, ../sass/components/main/_extends.scss */
.splash-p {
  width: 40%;
  position: relative;
  left: 100px;
  padding-top: 1em;
  line-height: 28px;
}

/* line 28, ../sass/components/main/_extends.scss */
.box-shadow {
  -moz-box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  -webkit-box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
}

/* line 34, ../sass/components/main/_extends.scss */
.box-wrapper {
  padding: 2em;
  overflow: hidden;
  clear: both;
}

/* line 40, ../sass/components/main/_extends.scss */
.box {
  height: 300px;
}
/* line 41, ../sass/components/main/_extends.scss */
.box:nth-of-type(3n+1) {
  width: 32.6087%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 44, ../sass/components/main/_extends.scss */
.box:nth-of-type(3n+2) {
  width: 32.6087%;
  float: left;
  margin-right: -100%;
  margin-left: 33.69565%;
  clear: none;
}
/* line 47, ../sass/components/main/_extends.scss */
.box:nth-of-type(3n+3) {
  width: 32.6087%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 53, ../sass/components/main/_extends.scss */
.box-title {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.2em;
  font-family: 'Taviraj', serif;
}

/* line 60, ../sass/components/main/_extends.scss */
.box-icon {
  font-size: 3em;
  color: #79B34D;
  text-align: center;
  padding-bottom: .3em;
}

/* line 67, ../sass/components/main/_extends.scss */
.box-content {
  padding: 1em;
  line-height: 18px;
  font-size: .900em;
  color: #909090;
}

/* line 74, ../sass/components/main/_extends.scss */
.box-item {
  padding-top: .5em;
}
/* line 77, ../sass/components/main/_extends.scss */
.box-item a {
  text-decoration: none;
  color: #79B34D;
}
/* line 81, ../sass/components/main/_extends.scss */
.box-item a:hover {
  color: #909090;
}

/* line 1, ../sass/components/footer/_extends.scss */
.footer-wrapper {
  background: #181818;
  height: 75px;
  padding: 1em;
  color: rgba(255, 255, 255, 0.4);
  font-size: .850em;
  overflow: hidden;
  clear: both;
}

/* line 11, ../sass/components/footer/_extends.scss */
.left {
  float: left;
  width: 50%;
}

/* line 16, ../sass/components/footer/_extends.scss */
.right {
  float: right;
  width: 50%;
  text-align: right;
}

/* line 22, ../sass/components/footer/_extends.scss */
.social-wrapper {
  padding-bottom: .5em;
}
/* line 25, ../sass/components/footer/_extends.scss */
.social-wrapper a {
  color: rgba(255, 255, 255, 0.4);
  padding-right: 1em;
  display: inline-block;
}
/* line 30, ../sass/components/footer/_extends.scss */
.social-wrapper a:last-child {
  padding-right: 0;
}

/* line 36, ../sass/components/footer/_extends.scss */
.address-wrapper {
  padding-bottom: .5em;
}

/* line 40, ../sass/components/footer/_extends.scss */
.phone-number {
  padding-bottom: .5em;
}
/* line 42, ../sass/components/footer/_extends.scss */
.phone-number a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

/* line 49, ../sass/components/footer/_extends.scss */
.terms a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px dotted #444;
}
/* line 54, ../sass/components/footer/_extends.scss */
.terms a:hover {
  border-bottom: 1px solid #444;
}
